.root_theme_initial {
  /* main color for hsl*/
  --color-main: 170;
  --color-first: hsl(var(--color-main), 13%, 34%);
  --color-second: hsl(var(--color-main), 12%, 24%);
  --color-accent: hsl(var(--color-main), 53%, 59%);
  --color-title: hsl(0, 0%, 100%);
  --color-text: hsl(0, 0%, 86%);
  --background: hsl(0, 0%, 0%);
  --hue-rotate: 0deg;

}


