.button {
  color: var(--color-text);
  border: none;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  background: url(../../images/button.png);
  background-size: cover;
  filter: hue-rotate(var(--hue-rotate));
}

.button:hover {
  filter: brightness(1.5) hue-rotate(var(--hue-rotate));
}

.button:active {
  filter: brightness(0.7) hue-rotate(var(--hue-rotate));
  border: 2px solid var(--color-second);
}
